#include "resource.h"

#ifndef RESOURCE_RC
#define RESOURCE_RC

#include "winres.h"

IDR_FONTFA_BRANDS_400           BINARY  "fonts/Font Awesome 6 Brands-Regular-400.otf"
IDR_FONTFA_DUOTONESOLID_900     BINARY  "fonts/Font Awesome 6 Duotone-Solid-900.otf"
IDR_FONTFA_LIGHT_300            BINARY  "fonts/Font Awesome 6 Pro-Light-300.otf"
IDR_FONTFA_REGULAR_400          BINARY  "fonts/Font Awesome 6 Pro-Regular-400.otf"
IDR_FONTFA_SOLID_900            BINARY  "fonts/Font Awesome 6 Pro-Solid-900.otf"
IDR_FONTFA_THIN_100             BINARY  "fonts/Font Awesome 6 Pro-Thin-100.otf"

IDB_APPICON             PNG     "icon.png"

#endif